#div1{
    background-color: #93B5C9;
    height: 200px;
    width: 103%;
    margin-top: -8px;
    margin-right: -8px;
    float: right;   
}

#div2{
    background-color: #AB2849;
    height: 360px;
    width: 103%;
    margin-top: -8px;
    margin-right: -8px;
    float: right;   
}

#div3{
    height: 120px;
    background-color: #AB2849;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: -8px;

}

#div4{
    height: 120px;
    background-color: #AB2849;
    margin-bottom: 10px;
    clear: both;
    width: 97%;
    margin: 0 auto;

}